.move {
  transition: all 200ms ease-in-out;
}

.move:hover {
  transform: translateX(5px);
}

.output {
  background-color: yellow;
  color:green;
  font-size:120%;
  font-weight: bold;
  max-width:400px;
}

.column {
  display:flex;
  flex-direction: column;
  justify-content: left;
  width:50%;
}

body {
  display:flex;
  justify-content: center;
}

#cart div {
  margin:10px;
  background-color: green;
  color:yellow;
  font-weight:bold;
  font-size:120%;
}

.ascii {
  white-space: pre;
  float:right;
  font-size:100%;
  line-height:70%;
  font-family:monospace;
  font-weight:bold;
}

.output .ascii {
  transform:translateX(-25px) translateY(-25px);
}

form h1 {
  font-size:300%;
  font-family:'Courier New', Courier, monospace;
}

.red {
  color:rgb(128, 5, 5);
}

.grey {
  color:grey;
}

.black {
  color:black;
}

.beige {
  background-color: bisque;
  padding-bottom:100%;
}