.move {
  transition: all 200ms ease-in-out;
}

.move:hover {
  transform: translateX(10px);
}

.output {
  background-color: green;
  color:red;
  font-size:200%;
  font-weight: bold;
  max-width:400px;
}

.column {
  display:flex;
  flex-direction: column;
  justify-content: left;
  width:50%;
}

body {
  display:flex;
  justify-content: center;
}